<div class="question_module">

  <div class="qm_votes">
    <div class="qm_count"><%= question.votes_count %></div>
    <div><%= "vote".pluralize(question.votes_count) %></div>
  </div>

  <div class="qm_status">
    <div class="qm_count"><%= question.answers.count %></div>
    <div><%= "answer".pluralize(question.answers.count) %></div>
  </div>

  <div class="qm_views">
    <div class="qm_count"><%= question.impressionist_count(:filter=>:session_hash) %></div>
    <div><%= "view".pluralize(question.impressionist_count(:filter=>:session_hash)) %></div>
  </div>

  <div class="qm_summary">

    <h3><%= link_to question.title, question %></h3>
    <ul class="ui-pagination">
      <% question.tags.each do |tag| %>
        <li>
          <%= link_to tag do %>
            <span><%= tag.name %></span>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class="qm_info">
      <%= time_ago_in_words(question.created_at) %> ago
      <span class="qm_info_user">
        <%= link_to question.user.user_name, question.user %>
      </span>
      <%= question.user.points %>
    </div>

  </div>

</div>