<div class="step">
  <%= link_to question, class: "list-group-item" do %>
    <div class="step-progress-indicator ">

      <div class="votes stats">
        <div class="mini-counts"><%= question.votes_count %></div>
        <div><%= "vote".pluralize(question.votes_count) %></div>
      </div>

      <div class="answers stats">
        <div class="mini-counts"><%= question.answers.count %></div>
        <div><%= "answer".pluralize(question.answers.count) %></div>
      </div>

      <div class="views stats">
        <div class="mini-counts"><%= question.impressionist_count(:filter=>:session_hash)%></div>
        <div>
          <%= "view".pluralize(question.impressionist_count(:filter=>:session_hash))%>
        </div>
      </div>

    </div>

    <div class="step-info">
      <h3 class="list-group-item-heading step-title">
        <%= question.title %>
        <span class="list-group-item-text step-description length">02:13</span>
      </h3>

      <p class="list-group-item-text step-description">
        <% question.tags.each do |tag| %>
          <span class="label label-primary">
            <%= tag.name %>
          </span>
        <% end %>
      </p>
    </div>
  <% end %>
</div>

<br>
