<div class="question_module">

  <div class="qm_votes">
    <div class="qm_count">5</div>
    <div>votes</div>
  </div>

  <div class="qm_status">
    <div class="qm_count">6</div>
    <div>answers</div>
  </div>

  <div class="qm_views">
    <div class="qm_count">7</div>
    <div>views</div>
  </div>

  <div class="qm_summary">

    <h3><%= link_to question.title, question %></h3>
    <ul class="ui-pagination">
      <% question.tags.each do |tag| %>
        <li>
          <%= link_to tag do %>
            <span><%= tag.name %></span>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class="qm_info">
      <%= time_ago_in_words(question.created_at) %> ago
      <span class="qm_info_user">
        <%= link_to question.user.user_name, question.user %>
      </span>
      <%= question.user.points %>
    </div>

  </div>

</div>