<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Sign up</h1>
  </div>

  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :user_name %>
        <%= f.text_field :user_name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <button type="submit" class="ui-button button1">
          <span class="button-left">
            <span class="button-right"> Sign up</span>
          </span>
        </button>
      </div>
    <% end %>
  </div>

  <div class="panel-footer">
    <%= link_to new_user_session_path, class: "ui-button button2" do %>
    <span class="button-left">
      <span class="button-right">Sign in</span>
    </span>
    <% end %>
  </div>
</div>