
<div class="body-bot"></div>

<!--le Footer-->
<div class="site-footer">

  <ul class="site-footer-links right">
    <li><%= link_to "Tags", tags_path %></li>
    <li><%= link_to "Help", "#" %></li>
    <li><%= link_to "About", "#" %></li>
    <li>
      <a href="#" class="tag-tooltip"
              data-original-title="Coming soon" data-placement="left">Blog
      </a>
    </li>
  </ul>

  <%= link_to root_path do %>
    <span class="mega-octicon octicon-mark-github tag-tooltip" data-original-title="You rock and you know it !" data-placement="top">
    </span>
  <% end %>

  <ul class="site-footer-links">
    <li>© <%= Time.now.year %> Hearthstonia</li>
    <li><%= link_to "Facebook", "https://www.facebook.com/hearthstonia", :target => '_blank' %></li>
    <li><%= link_to "Twitter", "https://twitter.com/Hearthstonia", :target => '_blank' %></li>
    <li><a href="mailto:info@hearthstonia.com">Contact</a></li>
  </ul>
</div>

<br>

<!-- Debug Console -->
<%#= debug(params) if Rails.env.development? %>